<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="cookie-styles.css">
	<title>Cookie Confectionary</title>
</head>
<body>
	<h1>Cookie Confectionary</h1>
	<br>
	<form method="POST" action="/sugar">
		<button>Sugar</button>     <%= sugar %>
	</form>
	<br>
	<form method="POST" action="/chocolate">
		<button>Chocolate</button>     <%= chocolate %>
	</form>
	<br>
	<form method="POST" action="/lemon">
		<button>Lemon</button>     <%= lemon %>
	</form>
	<br>
	<form method="POST" action="/guilty-free">
		<button>Guilty Free</button>
	</form>


</body>
</html>